#box1 {
    width: 100px;
    height: 150px;
    background-color: red;
    display: inline-block;
}
#box2 {
    width: 100px;
    height: 150px;
    background-color:yellow;
    display: inline-block;
}

#box3 {
    width: 100px;
    height: 150px;
    background-color: green;
    display: inline-block;
}


#box4 {
    width: 100px;
    height: 150px;
    background-color:blue;
    display: inline-block;
}


#box5 {
    width: 100px;
    height: 150px;
    background-color: purple;
    display: inline-block;
}

#box6 {
    width: 100px;
    height: 150px;
    background-color:#00FFF0;
    display: inline-block;
}



